---
import { author_twitter, site_author, site_description,site_locale,site_og_image,site_title,keywords,site_url } from '../assets/data/config.json'

// create a variable from keywords array to use it in meta tag as a string
let keywords_string = keywords.join(', ')

---

<!doctype html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content=`${site_description}` />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content=`${site_author}` />
		<meta name="keywords" content=`${keywords_string}` />
		
		<!-- social media description title and image  -->
		<meta property="og:title" content=`${site_title}` />
		<meta property="og:description" content=`${site_description}` />
		<meta property="og:image" content=`${site_og_image}` />
		<meta property="og:url" content=`${site_url}` />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content=`${site_locale}` />
		<meta property="og:site_name" content=`${site_title}` />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:alt" content=`${site_title}` />

		<!-- twitter description title and image  -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content=`${author_twitter}` />
		<meta name="twitter:creator" content=`${author_twitter}` />
		<meta name="twitter:title" content=`${site_title}` />
		<meta name="twitter:description" content=`${site_description}` />
		<meta name="twitter:image" content=`${site_og_image}` />
		<meta name="twitter:image:alt" content=`${site_title}` />
		<meta name="twitter:image:src" content=`${site_og_image}` />
		<meta name="twitter:url" content=`${site_url}` />
		<title>{site_title}</title>
	</head>
	<body class="bg-blue-950 text-white">
		<slot />
	</body>
</html>